<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add message</title>

</head>
<body>
     <h1>Add message</h1>
    <ul>
        {% for msg in data.participants %}
        <li>{{ msg }}</li>
        {% endfor %}
    </ul>
    <form method="post">
        application id
        <input type="text" name="applicationId" /><br><br>
        session id
        <input type="text" name="sessionId" /><br><br>
        message id
        <input type="text" name="messageId" /><br><br>
        content
        <input type="text" name="content" /><br><br>
        participants
        <input type="text" name="participants1" />
        <input type="text" name="participants2" />
        <input type="text" name="participants3" />
        <input type="text" name="participants4" /><br><br>

        <input type="submit" value="Submit" />
    </form>

</body>
</html>
